* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style-type: none;
  position: absolute;
}
.hide {
  display: none;
  font-size: 65px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  border: 1px solid red;
  background-color: black;
  /* close button is being dumb and doesn't want to be the same size, dont forget to fix it */
}
.close-button {
  padding-right: 100px;
}
.open-button {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.input-box {
  border: 1px solid red;
  width: 30%;
  font-size: 20px;
  position: relative;
  top: 650px;
  text-align: center;
  display: block;
  margin: auto;
  padding: 50px;
}
